#nav {       

margin-top: 100px;

height:26px;

border-bottom:2px solid grey;

margin-right: auto;

margin-left: auto;

}

#nav li {      /*针对列表项，去除列表前面的样式，并使之浮动定位，形成横向导航条*/

float:left;

list-style-type:none;

}

#nav li a {     /*将导航文字作为块级元素，使之可以像一个方块按钮一样去运作，对之进行样式设计*/

color:#000;

text-decoration:none;

padding-top:4px;

display:block;

width:97px;

height:22px;

text-align:center;

margin-left:2px;

}


#nav li a:hover{ /*设置鼠标悬在按钮上的样式，注意，a:hover只有在a标签中有href属性中的才有效*/

background-color:#bbb;

color:#fff;

}