<!DOCTYPE html>
<html>

  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="css/nav.css" type="text/css" />
  <title>{{ page.title }}</title>
  </head>
    
  <body>
    
   <div style = "width: 50%; margin: auto;">
    
	<ul id="nav">
	<li><a href="/dota.html">刀塔</a></li>
	<li><a href="/fuck.html">捣鼓</a></li>
	<li><a href="/love.html">矫情</a></li>
	<li><a href="/about.html">关于</a></li>
	</ul>

	{{ content }}
  

   </div>




  </body>
</html>